@model JoyFusion.Models.PostsViewModel

@{
    ViewData["Title"] = "Posts";
}

@section Style
{
    <link rel="stylesheet" href="~/css/post/posts.css" asp-append-version="true"/>
}

<h1>Самые новые посты</h1>

@await Html.PartialAsync("Partial/_PostsPartial", Model.Posts);

<div class="pagination">
    @if (Model.CurrentPage > 0)
    {
        <a class="pagination-button" href="/posts/top/new/@(Model.CurrentPage - 1)">Назад</a>
    }
    else
    {
        <span class="pagination-button disabled">Назад</span>
    }

    @if (Model.CurrentPage < Model.PagesCount)
    {
        <a class="pagination-button" href="/posts/top/new/@(Model.CurrentPage + 1)">Дальше</a>
    }
    else
    {
        <span class="pagination-button disabled">Дальше</span>
    }
</div>